<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style.css">
</head>

<body>
    <div id="root">
        <p class="section">
            Users:
            <label>
                <input type="radio" name="user" />
                1
            </label>
            <label>
                <input type="radio" name="user" />
                2
            </label>
            <label>
                <input type="radio" name="user" />
                3
            </label>
            <label>
                <input type="radio" name="user" />
                4
            </label>

        </p>
        <div class="section">
            <p>id: 1</p>
            <p>name: name test</p>
            <p>username: user name</p>
            <p>email: test@test.com</p>
            <p>phone: 009891836658</p>
        </div>
    </div>
</body>

</html>