body {
  padding: 15px;
  background-color: #007bec;
}

input {
  margin-left: 25px;
}

div {
  margin-top: 20px;
}

.section {
  padding: 10px;
  background-color: #dadada;
  border-radius: 10px;

  max-width: 300px;
}
